.container {
  max-width: 1140px;
}

* {
  font-family: "Roboto";
}

nav {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 50px;
  background: #212121;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 13px 70px;
}
.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 28px;
}
.menu .menu_item .menu_link {
  color: #FFF;
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
}
.menu .menu_item:last-child {
  border-right: none;
}

.subheader {
  position: absolute;
  width: 100%;
  height: 87px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}
.subheader .logo {
  max-width: 100%;
  margin-top: 16px;
}
.subheader .subheader_ofc {
  color: #FFF;
  font-size: 13px;
  font-weight: 100;
  margin-top: 6px;
}
.subheader .call_us {
  text-align: right;
  margin-top: 19px;
  color: #FFF;
  font-size: 12px;
  font-weight: 300;
}
.subheader .number {
  display: block;
  text-align: right;
  text-decoration: none;
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
}
.subheader .subheader_btn {
  margin-top: 19px;
  width: 172px;
  height: 46px;
  border-radius: 4px;
  border: none;
  background: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4CE2FF));
  background: linear-gradient(0deg, #1eacc7 0%, #4CE2FF 100%);
  -webkit-box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;
          box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;
  color: #FFF;
  text-align: center;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.21);
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.subheader .subheader_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}
.subheader .xs_visible {
  display: none;
}

.hamburger {
  display: none;
}

.first {
  margin-top: 50px;
  background: url("../img/bg/uber_bg.jpg") center center/cover no-repeat;
  min-height: 800px;
  padding: 150px 0 135px 0;
}
.first .first_header {
  color: #FFF;
  text-align: center;
  font-size: 60px;
  font-weight: 900;
  line-height: 47px;
  text-transform: uppercase;
  margin: 0;
}
.first .first_subheader {
  color: #FFF;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 22px;
}
.first .first_desc {
  color: #FFF;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  margin-top: 35px;
}
.first .first_btn {
  width: 259px;
  height: 63px;
  display: block;
  margin: 118px auto 0 auto;
  border-radius: 4px;
  background: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4CE2FF));
  background: linear-gradient(0deg, #1eacc7 0%, #4CE2FF 100%);
  -webkit-box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;
          box-shadow: 0px -3px 0px 0px rgba(0, 0, 0, 0.12) inset;
  border: none;
  color: #FFF;
  text-align: center;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.21);
  font-size: 18px;
  font-weight: 400;
  line-height: 63px;
  text-transform: uppercase;
}
.first .first_btn:hover {
  background-image: none;
  background-color: #1eacc7;
}

.label {
  width: 115px;
  height: 27px;
  background: black;
  margin: 0 auto;
  color: #FFF;
  text-align: center;
  font-size: 11px;
  font-weight: 400;
  line-height: 27px;
  text-transform: uppercase;
}

.title {
  margin: 0;
  margin-top: 40px;
  color: #222;
  text-align: center;
  font-family: Roboto;
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: 35px;
  text-transform: uppercase;
}

.subtitle {
  display: block;
  margin: 0 auto;
  margin-top: 19px;
  font-size: 17px;
  text-align: center;
  color: #222;
}

.lw {
  background: white;
  color: black;
}

.tw {
  color: white;
  margin-top: 32px;
}

.reasons {
  padding: 71px 0 65px 0;
}
.reasons .reasons_circle {
  width: 116px;
  height: 116px;
  border-radius: 100%;
  background: #1eacc7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.reasons .resons_text {
  width: 370px;
}
.reasons .reason_header {
  color: #1eacc7;
  font-size: 17px;
  font-weight: 400;
  line-height: 21px;
}
.reasons .reason_descr {
  color: #202020;
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}
.reasons .reason_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 35px;
}
.reasons .reason_block .reason_image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 25px;
}

.mobile {
  padding: 48px 0 80px 0;
  min-height: 864px;
  background: url("../img/bg/mobile_bg.png") center center/cover no-repeat;
}
.mobile .row {
  margin-top: 13px;
}
.mobile .mobile_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 320px;
  margin: 0 auto;
  margin-top: 19px;
  aspect-ratio: 8/7;
}
.mobile .mobile_block .mobile_text {
  max-width: 267px;
  position: absolute;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-top: 92px;
}
.mobile .mobile_block .mobile_round {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 26px;
  width: 26px;
  position: absolute;
  margin-top: 219px;
  background: #000;
  border-radius: 100%;
  cursor: pointer;
}
.mobile .mobile_block .mobile_round:before {
  content: "";
  display: block;
  width: 14px;
  height: 2px;
  background: #1eacc7;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.mobile .mobile_block .mobile_round:after {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  content: "";
  display: block;
  width: 2px;
  height: 14px;
  background: #1eacc7;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}
.mobile .mobile_block .mobile_round:hover::before, .mobile .mobile_block .mobile_round:hover::after {
  background-color: #ff5656;
}
.mobile .mobile_block .mobile_img {
  width: 100%;
  height: 100%;
}

.uberX {
  padding: 57px 0 138px 0;
  position: relative;
  min-height: 896px;
}
.uberX .black {
  position: absolute;
  top: 0;
  width: 100%;
  height: 499px;
  background: black;
  z-index: -1;
}
.uberX .white {
  position: absolute;
  bottom: 0;
  height: 397px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.uberX .subtitle.sw {
  color: white;
}
.uberX .subtitle.x {
  margin: 0;
}
.uberX .car {
  display: block;
  margin: 0 auto;
  margin-top: 56px;
}

.require {
  padding: 68px 0 84px 0;
}
.require .title {
  margin-top: 33px;
}
.require_block {
  margin-top: 33px;
}
.require_block_red {
  margin-top: 62px;
}
.require_block_title {
  font-size: 22px;
  color: #1eacc7;
}
.require_block_list {
  margin-top: 22px;
  list-style-type: none;
  padding-left: 17px;
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: #222;
}
.require_block_list li {
  margin-bottom: 10px;
  background: url("../icons/check_blue.png") left center no-repeat;
  padding-left: 33px;
}
.require_block_list_red li {
  background: url("../icons/check_red.png") left center no-repeat;
}
.require_block_descr {
  font-size: 17px;
  font-weight: 300;
  line-height: 24px;
  text-align: left;
  color: #1eacc7;
}
.require .require_block_red .require_block_title {
  color: #ff5656;
}

.world {
  position: relative;
  padding: 49px 0;
  min-height: 717px;
  background: url("../img/bg/world_bg.jpg") center center/cover no-repeat;
}
.world .subtitle {
  margin-top: 20px;
}
.world_view {
  position: absolute;
  bottom: 49px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.world_view a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  color: #1eacc7;
}

footer {
  position: relative;
  height: 148px;
  padding: 53px 23px 31px 23px;
}
footer::before {
  position: absolute;
  content: "";
  display: block;
  height: 4px;
  width: 300px;
  background-color: #1fbad6;
  left: 50%;
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
  top: 14px;
}
footer .footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer_wrapper > div {
  width: 33%;
}
footer .footer_wrapper .footer_networks {
  width: 153px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer_wrapper .footer_networks a {
  text-decoration: none;
}
footer .footer_wrapper .footer_networks_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 32px;
  width: 32px;
  background: #000;
  border-radius: 100%;
}
footer .footer_wrapper .footer_main {
  margin: 0 auto;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer .footer_wrapper .footer_main_first_link {
  margin-right: 46px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  font-weight: 300;
  color: #070716;
}
footer .footer_wrapper .footer_main_first_link:last-of-type {
  margin-right: 0;
}
footer .footer_wrapper .footer_main_second_link {
  margin-right: 21px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;
  font-weight: 300;
  color: #999;
}
footer .footer_wrapper .footer_main_second_link:last-of-type {
  margin-right: 0;
}
footer .footer_wrapper .footer_main_language {
  margin-top: 10px;
  text-transform: uppercase;
  font-size: 11px;
  text-align: center;
  color: #1fbad6;
}
footer .footer_wrapper .footer_stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
footer .footer_stores img {
  width: 95px;
  height: 25px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}

@media (max-width: 1199px) {
  .menu .menu_item {
    padding-right: 20px;
  }
  .menu .menu_item .menu_link {
    font-size: 13px;
  }
  .first .first_header {
    font-size: 50px;
  }
  .mobile .mobile_block {
    width: 300px;
  }
  footer .footer_wrapper .footer_main_first_link {
    font-size: 11px;
    margin-right: 20px;
  }
}
@media (max-width: 991px) {
  .menu .menu_item {
    padding-right: 15px;
  }
  .menu .menu_item .menu_link {
    font-size: 11px;
  }
  .first .first_header {
    font-size: 40px;
  }
  .reasons .reason_block {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .reasons .reason_block .resons_text {
    margin-top: 10px;
  }
  .mobile .mobile_block {
    width: 240px;
  }
  .mobile .mobile_block .mobile_text {
    font-size: 18px;
  }
  .mobile .mobile_block .mobile_round {
    margin-top: 165px;
  }
  footer .footer_wrapper .footer_main_first_link {
    margin-right: 10px;
  }
  footer .footer_wrapper .footer_stores img {
    width: 75px;
  }
  .reasons .reason_block .reason_image {
    margin-right: 0;
  }
}
@media (max-width: 767px) {
  .menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
  .menu_active {
    left: 0;
  }
  .menu .menu_item {
    padding-right: 0;
    border: none;
  }
  .menu .menu_item .menu_link {
    font-size: 20px;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 12px;
  }
  .hamburger span {
    display: block;
    height: 2px;
    background-color: #fff;
    margin-bottom: 2px;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .hamburger_active span {
    margin-bottom: -2px;
  }
  .hamburger_active span:first-child {
    -webkit-transform: translateY(3px) rotate(-45deg);
            transform: translateY(3px) rotate(-45deg);
  }
  .hamburger_active span:last-child {
    -webkit-transform: translateY(3px) rotate(45deg);
            transform: translateY(3px) rotate(45deg);
  }
  .hamburger_active span:nth-child(2) {
    display: none;
  }
  .subheader .xs_hidden {
    display: none;
  }
  .subheader .xs_visible {
    display: block;
  }
  .subheader .subheader_btn {
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 40px;
    margin-top: 0;
  }
  .subheader .number {
    display: block;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }
  .first .first_header {
    font-size: 40px;
    line-height: 45px;
  }
  .reasons .reason_block .resons_text {
    margin: 0 auto;
    margin-top: 10px;
  }
  .uberX .car {
    width: 100%;
  }
}
@media (max-width: 576px) {
  nav {
    height: 30px;
  }
  .subheader {
    top: 30px;
    height: 60px;
  }
  .subheader .subheader_btn:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4CE2FF));
    background: linear-gradient(0deg, #1eacc7 0%, #4CE2FF 100%);
  }
  .subheader .subheader_ofc {
    display: none;
  }
  .subheader .logo {
    margin-top: 24px;
  }
  .subheader .number {
    font-size: 12px;
  }
  .subheader .subheader_btn {
    width: 110px;
    height: 22px;
    font-size: 10px;
    text-transform: uppercase;
  }
  .first {
    min-height: 400px;
    padding: 100px 0 35px 0;
    margin-top: 30px;
  }
  .first .first_btn:hover {
    background: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4CE2FF));
    background: linear-gradient(0deg, #1eacc7 0%, #4CE2FF 100%);
  }
  .first .first_desc {
    display: none;
  }
  .first .first_header {
    font-size: 30px;
  }
  .first .first_subheader {
    font-size: 20px;
  }
  .first .first_btn {
    margin-top: 70px;
  }
  .menu {
    width: 85%;
  }
  .menu .menu_item {
    padding: 5px 0;
    width: 100%;
    text-align: center;
  }
  .menu .menu_item .menu_link {
    display: block;
  }
  .reasons {
    padding: 22px 0 36px 0;
  }
  .reasons .title {
    font-size: 16px;
    margin-top: 15px;
    line-height: 16px;
  }
  .reasons .resons_text {
    width: 290px;
  }
  .reasons .reason_block {
    margin-top: 25px;
  }
  .reasons .reason_block .reasons_circle {
    width: 100px;
    height: 100px;
  }
  .reasons .reason_block .reason_header {
    margin-top: 27px;
  }
  .mobile {
    padding: 28px 0 43px 0;
  }
  .mobile .title {
    font-size: 16px;
    margin-top: 16px;
  }
  .mobile .subtitle {
    font-size: 14px;
    margin-top: 0;
  }
  .mobile .row {
    margin-top: 0;
  }
  .mobile .mobile_block {
    width: 290px;
    margin-top: 30px;
  }
  .mobile .mobile_block .mobile_round {
    margin-top: 200px;
  }
  .mobile .mobile_block .mobile_text {
    margin-top: 80px;
  }
  .uberX {
    padding: 27px 0 30px 0;
    min-height: 390px;
  }
  .uberX .title {
    display: none;
  }
  .uberX .white {
    display: none;
  }
  .uberX .black {
    height: 100%;
  }
  .uberX .subtitle {
    color: #fff;
  }
  .uberX .subtitle.sw {
    display: none;
  }
  .uberX .car {
    margin-top: 36px;
  }
  .require {
    padding: 22px 0 30px 0;
  }
  .require .title {
    font-size: 16px;
    margin-top: 16px;
  }
  .require_block {
    margin-top: 25px;
  }
  .require_block_title {
    font-size: 16px;
  }
  .require_block_list {
    margin-top: 0;
  }
  .require_block_list li {
    margin-bottom: 0;
    font-size: 14px;
  }
  .require_block_descr {
    font-size: 14px;
  }
  .require_block_descr br {
    display: none;
  }
  .require .require_block_list_red:last-of-type {
    margin-bottom: 0;
  }
  .world {
    min-height: 360px;
    padding: 26px 0 30px 0;
  }
  .world .title {
    font-size: 16px;
    margin-top: 16px;
  }
  .world .subtitle {
    margin-top: 11px;
    font-size: 14px;
  }
  .world_view {
    text-align: center;
    width: 222px;
    bottom: 30px;
  }
  footer {
    min-height: 255px;
  }
  footer .footer_wrapper > div {
    width: 100%;
    margin-bottom: 20px;
  }
  footer .footer_wrapper > div:nth-child(1) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .footer_wrapper > div:nth-child(2) {
    margin-bottom: 15px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .footer_wrapper > div:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  footer .footer_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .footer_wrapper .footer_stores {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer::before {
    width: 250px;
    -webkit-transform: translateX(-125px);
            transform: translateX(-125px);
    top: 24px;
  }
}/*# sourceMappingURL=style.css.map */